.header {
    display: flex;

    height: 92vh;

    .left {
        flex-basis: 30%;
        background-color: #6739f1;
        transform: translateY(-20px);
        position: relative;
        z-index: 100;

        img {
            position: absolute;
            top: 25%;
            left: 60%;
            border-radius: 50%;
            width: 250px;
            border-radius: 50%;
            border: 30px solid #6739f3;
            outline: 40px solid white;
        }
    }

    .right {
        flex-basis: 70%;
        position: relative;
        display: grid;
        place-items: center;


        .bio {
            color: #1e1c2d;
            word-spacing: 4px;

            h1 {

                font-weight: 600;
                font-size: 2.8rem;
            }

            h3 {
                font-weight: 600;
                margin-block: .6rem;
            }

            a {
                background-color: #6739f3;
                color: white;
                padding: 10px 20px;
                margin-top: .5rem;
                display: inline-block;
                transition: .2s linear;
                cursor: pointer;

                &:hover {
                    opacity: .6;
                }
            }
        }

        .socials {
            position: absolute;
            right: 8%;
            height: 90%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 3%;

            a {
                font-size: 1.5rem;
                color: #6739f3;
            }
        }
    }
}

.dark {
    background-color: #1e1c2d !important;
    color: white !important;

    .right {
        .bio {
            color: white;
        }

        .socials{

            a:hover{

                svg{

                    color: #6739f1 !important;
                }
            }
           
        }
    }

    .left {
        img {
            outline: 40px solid #1e1c2d;
        }
    }
}

// respnsiveness 

@media (max-width:900px){
    .header{
        flex-direction: column;

        .left{
            flex-basis: 40%;

            img{
                top: 100%;
                left: 50%;
                transform: translate(-50%,-50%);
                width: 200px;
                border: 20px solid #6739f1;
                outline: 25px solid #fff;
            }
        }

        .right{
            flex-basis: 100%;

            .bio{
                display: flex;
                align-items: center;
                flex-direction: column;
                a{
                    margin-inline:auto ;
                }
            }

            .socials{
                bottom: 8%;
                // border: 2px solid red;
                flex-direction: row;
                height: auto;
                width: 100%;
                left: 0;
            }
        }
    }
}